body {
    background-image:url('/images/background.png');
    background-attachment:fixed;
}

#nav ul {
    list-style: none;
    text-align: left;
}

#nav ul li {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 50px;
    margin-left: 50px;
}

#post a {
    color: #1F1F1F;
    font-size:17px;
}

#nav a {
    color: #1F1F1F;
    text-decoration: none;
    padding-left: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size:20px;
    width:auto;
    overflow:visible;
    display:block;
    border-right: 1px solid #1F1F1F;
    border-top: 1px solid #1F1F1F;
    border-bottom: 1px solid #1F1F1F;
}

#nav a:link {
    border-left: 4px solid #1F1F1F;
}
#nav a:visited {
    border-left: 4px solid #1F1F1F;
}
#nav a:active{
    border-left: 4px solid #1F1F1F;
}
#nav a:hover{
    border-left: 10px solid #1F1F1F;
}

#main {
    padding: 10px;
}

#nav {
    background-image:url('/images/background.png');
    background-attachment:fixed;

    float: left;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 400px;
    border-right: 8px solid #1F1F1F;
    text-align: center;
    padding:4px;
}

h1 {
    font-size:40px;
    font-family: 'Monda', sans-serif;
}

#content {
    margin: 28px 0 30px 420px;
}

footer {
    width: 100%; 
    background-color: #ddd;
    position: fixed;
    bottom: 0;
    left: 200;
}

#linkolder {
    font-family: 'Monda', sans-serif;
    color: #1F1F1F;
    font-size: 20px;
}

#linknewer {
    font-family: 'Monda', sans-serif;
    color: #1F1F1F;
    font-size: 20px;
}

#linkolder a {
    color: #1F1F1F;
    text-decoration: none;
}

#linknewer a {
    color: #1F1F1F;
    text-decoration: none;
}

#posttitle a{
    font-family: 'Monda', sans-serif;
    font-size: 25px;
    color: #1F1F1F;
    text-decoration: none;
}

#postdate {
    padding: 0px;
    font-family: 'Monda', sans-serif;
    font-size: 16px;
    color: #1F1F1F;
}

#post {
    padding-left: 25px;
    padding-bottom: 25px;
}

p {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

