<!DOCTYPE html>
<html lang="en"> 
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="/css/default.css" type="text/css" media="screen" />
        <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Monda' rel='stylesheet' type='text/css'>

        <title>$pagetitle$</title>
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-37468591-1']);
            _gaq.push(['_trackPageview']);
            (function() {
             var ga = document.createElement('script');
             ga.type = 'text/javascript';
             ga.async = true;
             ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
             var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();
        </script>
    </head>

    <body>
        <div id ="nav">
            <ul>
                <li><h1>Ben Brittain</h1></li>

                <li> <a href = "/index.html"> Blog </a></li>
                <li> <a href = "/about.html"> About </a></li>
                <li> <a href = "https://twitter.com/#!/Brittain_Ben"> Twitter </a></li>
                <li> <a href = "https://github.com/cavedweller"> GitHub </a></li>
                <li> <a href = "https://www.facebook.com/ben.brittain0"> FaceBook </a></li>
                <li> <a href = "http://www.linkedin.com/in/bbrittain/"> LinkedIn </a></li>
                <li> <a href = "mailto:ben@benbrittain.com"> Email Me </a> </li>
            </ul>
        </div>

        <div id="content">
            <div id="main">
                $body$
            </div>
        </div>
    </body>
</html>

